<!doctype html>
<html>
  <head>
    <title>Getflix - Member Login | Sign In To Your Account</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <img class="logo" src="img/logo.png" alt="Getflix">
      <div class="form">
        <p>Sign In</p>
        <form method="post" ng-click="login(user)">
          <label for="email">Email</label>
          <input class="email text-input" type="email" name="username" ng-model="user.username">
          <label for="password">Password</label>
          <input class="password text-input" type="password" name="password" ng-model="user.password">
          <a id="forgot" href="#">Forgot your email or password?</a>
          <br>
          <button class="button-red sign-in">Sign In</button>
          <button class="button-fb sign-in">Login with Facebook</button>
          <div class="sign-up"><p>New to Getflix?</p><a ui-sref="register"> Sign up now.</a></div>
        </form>

      </div>
    </div>

    <footer>
      <div class="footer-container">
        <p id="questions">Any questions? Phone 1800 071 578</p>
        <p id="terms">Use of the Getflix service and this Web site constitutes acceptance of our Terms of Use and Privacy Statement.
        <br>
        &copy; 1997-2015 Getflix, Inc. (us-west-2 3d5514e7 AU)</p>
      </div>
    </footer>
  </body>
</html>
