<html class="gr__netflix_com">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
					<title>Netflix</title>
					<meta content="" name="keywords">
						<meta content="" name="description">
							<meta name="viewport" content="width=device-width,initial-scale=1.0">
								<link type="text/css" rel="stylesheet" href="css/profiles.css">
									<link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
										<link rel="apple-touch-icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png">
																	</head>
																	<body>
																		<div id="appMountPoint">
																			<div lang="en" class="accountLayout" dir="ltr">
																				<div id="hdSpace">
																					<div id="hdPinTarget" class="member-header">
																						<div id="hd">
																							<div id="headerBlind"></div>
																							<div >
																								<a href="/" class="icon-logoUpdate logo" ></a>
																							</div>
																							<div class="nav-wrap" >
																								<ul id="global-header" class="global-header-wrap i-b structural" >
																									<li class="nav-item hasSubMenuOnWideScreens nav-wihome display-until-s" >
																										<span class="i-b content" >
																											<a ui-sref="browse" >Browse</a>
																										</span>
																										<span class="i-b shim" ></span>
																										<div class="subnav-wrap"  >
																											<ul class="sub-nav-tabs structural" >
																												<li class="lvl2" >
																													<a href="">Home</a>
																												</li>
																												<li class="lvl2" >
																													<a href="" >My List</a>
																												</li>
																												<li class="lvl2" >
																													<a href="" >New Arrivals</a>
																												</li>
																												<li class="lvl2">
																													<a href="" >Subtitles &amp; Captions</a>
																												</li>
																												<li class="lvl2" >
																													<a href="" >Ways to Watch</a>
																												</li>
																											</ul>

																										</div>
																										<span class="up-arrow" ></span>
																									</li>
																									<li class="nav-item nav-kids display-until-l" >
																										<span class="i-b content" >
																											<a ui-sref="kids" >Kids</a>
																										</span>
																										<span class="i-b shim" ></span>

																									</li>
																									<li class="nav-item nav-dvds display-until-m" >
																										<span class="i-b content" >
																											<a >DVD</a>
																										</span>
																										<span class="i-b shim" ></span>

																									</li>
																								</ul>
																							</div>
																							<div class="account-search last" >
																								<div class="tagline priceMessage" ></div>
																								<div id="account-tools" >
																									<div id="profileSelector" class="profile-selector" >
																										<div class="current-profile" >
																											<img class="avatar" ng-src="">
																												<span class="name" >{{users.first_name}}</span>
																												<span class="profile-arrow" ></span>
																												<span class="trigger" ></span>
																											</div>
																											<div class="profiles-container" >
																												<div class="profile-selector" >
																													<ul class="profiles structural" >
																														<li class="profile" >
																															<a role="button" >
																																<img src="https://secure.netflix.com/ffe/profiles/avatars_v2/32x32/PICON_036B.png" alt="Kids" >
																																	<div class="name" >Kids</div>
																																</a>
																															</li>
																														</ul>
																													</div>
																													<ul class="profile-manage structural" >
																														<li class="manage" >
																															<a>Manage Profiles</a>
																														</li>
																													</ul>
																													<ul class="links structural" >
																														<li class="" >
																															<a>Your Account</a>
																														</li>
																														<li class="" >
																															<a>Help Center</a>
																														</li>
																														<li class="">
																															<a>Sign out of Netflix</a>
																														</li>
																														<li class="display-after-xs" >
																															<a ui-sref="browse">Browse</a>
																														</li>
																													</ul>
																												</div>
																											</div>
																										</div>
																										<div class="search-wrapper" >
																											<form action="#" class="mixed-search-form" >
																												<label for="search-input-toggle" class="mixed-search-label" >
																													<input type="checkbox" class="search-toggle" id="search-input-toggle"  value="on">
																														<div class="search-text" >
																															<span class="icon-search mixed-search-icon" >Search</span>
																														</div>
																														<div class="search-input-wrapper">
																															<div class="search-input-inner-wrapper" >
																																<span class="icon-search mixed-search-icon mixed-search-input-icon" ></span>
																																<input type="text" class="mixed-search-input" placeholder="Titles, people, genres" >
																																</div>
																															</div>
																														</label>
																													</form>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																								<div class="bd" >
																									<div class="responsive-account-container" >
																										<div >
																											<h1 class="account-header" >My Account</h1>
																											<div class="account-messages-container" ></div>
																											<div class="responsive-account-content" >
																												<div class="account-section collapsable-panel clearfix membership-section-wrapper membership-section-with-button" >
																													<header class="account-section-header collapsable-section-toggle" >
																														<h2 class="account-section-heading" >

																															<a class="btn account-cancel-button btn-gray btn-small" href="/CancelPlan" target="_top" >
																																<span >Cancel membership</span>
																															</a>
																														</h2>
																													</header>
																													<section class="collapsable-section-content account-section-content" >
																														<div class="account-subsection clearfix" >
																															<div class="clearfix" >
																																<div class="account-section-group" >
																																	<div class="account-section-item account-section-email" ></div>
																																	<div class="account-section-item account-section-item-disabled" >

																																	</div>
																																	<div class="account-section-item account-section-item-disabled" ></div>
																																</div>
																																<div class="account-section-group" >
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/email" >Change email</a>
																																	</div>
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/password" >Change password</a>
																																	</div>
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/phonenumber" >Add phone number</a>
																																	</div>
																																</div>
																															</div>
																														</div>
																														<div class="account-subsection clearfix" >
																															<div class="clearfix" >
																																<div class="account-section-group" >
																																	<div class="account-section-item" >
																																		<div class="payment-type" >

																																			<span class="mopType"></span>
																																		</div>
																																	</div>
																																</div>
																																<div class="account-section-group" >
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/YourAccountPayment" >Update payment info</a>
																																	</div>
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/BillingActivity" >Billing details</a>
																																	</div>
																																</div>
																															</div>
																														</div>
																													</section>
																												</div>
																												<div class="account-section collapsable-panel clearfix" >
																													<header class="account-section-header collapsable-section-toggle" >
																														<h2 class="account-section-heading" >Plan Details</h2>
																													</header>
																													<section class="collapsable-section-content account-section-content" >
																														<div class="account-subsection clearfix" >
																															<div class="clearfix" >
																																<div class="account-section-group" >
																																	<div class="account-section-item" >

																																	</div>
																																</div>
																																<div class="account-section-group" >
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="/ChangePlan" >Change plan</a>
																																	</div>
																																</div>
																															</div>
																														</div>
																														<div class="account-subsection clearfix" >
																															<div >
																																<div class="account-section-group" >
																																	<div class="account-section-item" ></div>
																																</div>
																																<div class="account-section-group" >
																																	<div class="account-section-item" >
																																		<a class="account-section-link" href="https://dvd.netflix.com/SubscriptionAdd?dsrc=STRWEB_ADDDVD" >Add DVD plan</a>
																																	</div>
																																</div>
																															</div>
																														</div>
																													</section>
																												</div>
																												<div class="account-section collapsable-panel clearfix" >
																													<header class="account-section-header collapsable-section-toggle" >
																														<h2 class="account-section-heading" >Settings</h2>
																													</header>
																													<section class="collapsable-section-content account-section-content" >
																														<div class="account-subsection clearfix" >
																															<div class="clearfix" >
																																<div class="account-section-group" >
																																	<div >
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/EmailPreferences" >Communication settings</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/pin" >Parental controls</a>
																																		</div>
																																		<div class="account-section-item account-section-item" >
																																			<a class="account-section-link" href="/DoNotTest" >Test participation</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/Activate" >Activate a device</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/ManageDevices" >Sign out of all devices</a>
																																		</div>
																																	</div>
																																</div>
																																<div class="account-section-group left-align" ></div>
																															</div>
																														</div>
																													</section>
																												</div>
																												<div class="account-section collapsable-panel clearfix" >
																													<header class="account-section-header collapsable-section-toggle" >
																														<h2 class="account-section-heading" >My Profile</h2>
																													</header>
																													<section class="collapsable-section-content account-section-content" >
																														<div class="account-subsection clearfix" >
																															<div class="clearfix" >
																																<div class="account-section-profile" >
																																	<img class="activeProfile" ng-src=""  >
																																		<span class="profile-name" ></span>
																																	</div>
																																	<div class="account-section-group" >
																																		<div class="account-section-item account-section-manage-profiles" >
																																			<a class="account-section-link" href="/EditProfiles" ></a>
																																		</div>
																																		<div class="account-section-item account-section-item" >
																																			<a class="account-section-link" href="/LanguagePreferences" >Language</a>
																																		</div>
																																		<div class="account-section-item account-section-item" >
																																			<a class="account-section-link" href="/HdToggle">Playback settings</a>
																																		</div>
																																		<div class="account-section-item account-section-item" >
																																			<a class="account-section-link" href="/SubtitlePreferences" >Subtitle appearance</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/MyListOrder" >Order in My List</a>
																																		</div>
																																	</div>
																																	<div class="account-section-group left-align" >
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/viewingactivity" >Viewing activity</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/MoviesYouveSeen" >Ratings</a>
																																		</div>
																																		<div class="account-section-item" >
																																			<a class="account-section-link" href="/Reviews" >Reviews</a>
																																		</div>
																																	</div>
																																</div>
																															</div>
																														</section>
																													</div>
																													<div class="account-section collapsable-panel clearfix" >
																														<header class="account-section-header collapsable-section-toggle" >
																															<h2 class="account-section-heading" >Gifts &amp; Offers</h2>
																														</header>
																														<section class="collapsable-section-content account-section-content" >
																															<div class="clearfix" >
																																<div class="account-section-group gifts-section-group" >
																																	<div class="account-section-item account-section-item account-section-gifts" >
																																		<label class="ui-label ui-input-label" >
																																			<span class="ui-label-text" ></span>
																																			<input class="ui-text-input medium" placeholder="Enter code or pin"  >
																																			</label>
																																			<button class="btn gift-redeem-btn btn-plain btn-small" type="button" autocomplete="off"  >
																																				<h2>Submit</h2>
																																			</button>
																																		</div>
																																	</div>
																																	<div class="account-section-group gifts-link-group" >
																																		<div class="account-section-item account-section-item" >
																																			<a class="account-section-link" href="https://help.netflix.com/support/32950" target="_blank" >Where to buy gift cards</a>
																																		</div>
																																	</div>
																																	<div class="gift-modal-container" ></div>
																																</div>
																															</section>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																										<div class="site-footer-wrapper" >
																											<div class="footer-divider" ></div>
																											<div class="site-footer" >
																												<p class="footer-top" >
																													<a class="footer-top-a" href="https://help.netflix.com/contactus" >Questions? Contact us.</a>
																												</p>
																												<ul class="footer-links structural" >
																													<li class="footer-link-item footer-link-help" >
																														<a class="footer-link" href="http://help.netflix.com/" >
																															<span >Help Center</span>
																														</a>
																													</li>
																													<li class="footer-link-item footer-link-relations" >
																														<a class="footer-link" href="http://ir.netflix.com" >
																															<span >Investor Relations</span>
																														</a>
																													</li>
																													<li class="footer-link-item footer-link-media" >
																														<a class="footer-link" href="http://media.netflix.com" >
																															<span >Media Center</span>
																														</a>
																													</li>
																													<li class="footer-link-item footer-link-jobs" >
																														<a class="footer-link" href="http://jobs.netflix.com/" >
																															<span >Jobs</span>
																														</a>
																													</li>
																													<li class="footer-link-item footer-link-terms" >
																														<a class="footer-link" href="https://help.netflix.com/legal/termsofuse" >
																															<span >Terms of Use</span>
																														</a>
																													</li>
																													<li class="footer-link-item footer-link-privacy" >
																														<a class="footer-link" href="https://help.netflix.com/legal/privacy" >
																															<span >Privacy Statement</span>
																														</a>
																													</li>
																												</ul>
																												<div class="service-code-wrapper" >
																													<a class="service-code pointer" >Service Code</a>
																												</div>
																												<p class="copy-text" ></p>
																											</div>
																										</div>
																									</div>
																								</div>

																							</body>
																						</html>
